* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: rgb(153, 155, 156);
    font-weight: 10px;
}

.box {
    width: 90%;
    height: 200px;
    margin: auto;
}

.home {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.home a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(206, 46, 78);
}
.margin{
    margin: 10px 0;
}
h1 , h2{
    color: rgb(201, 45, 76);
}